@charset "UTF-8";
/* CSS Document */
body {
	font-family:helvetica, arial, sans-serif;
	}

ul {
	float: right;
	}
li {
	display: inline;
	list-style: none;
	font-size:20px;
	padding-right:10px;
	}
a {
	text-decoration:none;
	color: white;
	}
li a:hover {
	color: #B2808E;
	}
h1 {
	font-size:46px;
}
header {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	}

article {
	height: 550px;
	
	}
footer {
	height:85px;
	background-color:grey;
	
	}

