@charset "UTF-8";
/* CSS Document */
body {
	font-family:helvetica, arial, sans-serif;
	background-color: #EDEDED;
	}

ul {
	float: right;
	}
li {
	display: inline;
	list-style: none;
	font-size:20px;
	padding-right:10px;
	}
a {
	text-decoration:none;
	color: white;
	border: 10px solid #914E57;
	background-color: #914E57;
	}
li a:hover {
	background-color: #B2808E;
	border: 10px solid #B2808E;
	}
h1 {
	font-size:40px;
	text-align:center;
	padding-top: 20px;
}
header {
	margin: 20px 20px 0px 20px;
	height: 40px;
	
	}

article {
	height: 550px;
	background-color:white;
	
	}
footer {
	height:41px;
	background-color:#EDEDED;
	color: #4C4B4C;
	margin-top: 20px;
	margin-left: 20px;
	font-size:12px;
	}
.active {
	background-color: #B2808E;
	border: 10px solid #B2808E;
	}

